<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
    <title>Untitled Document</title>

    <meta http-equiv = "Content-Type" content = "text/html; charset = utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <!--  Internal jquery/javascript link-->
    <script type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/example.js'%}"></script>

</head>


<body>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">  
                <form action="http://httpbin.org/get" method="get" role="form" onsubmit="return valid_form()">
                    <h2>Registration form</h2>
                    <div class="form-group">
                    <strong>Name:</strong><input id="NameArr" type="text" name="name" placeholder="Input your name."/>
                    </div>
                    <div class="form-group">
                    <strong>Second Name:</strong><input id="SecndNameArr" type="text" name="SecondName" placeholder="Input your second name."/>
                    </div>
                    <div class="form-group">
                    <strong>Age:</strong>
                    <input id="AgeArr" type="text" name="Age" placeholder="Input your age."/>
                    </div>
                    <strong>Choose your sex:</strong>
                    <div class="form-group" style="padding-left:5%; padding-top:2%">
                    
                    <div class="form-group"><input type="radio" name="sex" value="male"/> Male </div>
                    <div class="form-group"><input type="radio" name="sex" value="female"/> Female </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <!--script type="text/javascript" src="{% static 'js/get_form.js'%}"></script-->
                
            </div> 
        </div>
    </div>

</body>

</html>
