{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="{% static 'js/jquery-3.0.0.min.js'%}"></script> 
</head>
<body>
   <div id="input_result1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, perspiciatis! Excepturi, numquam dolores aliquam laboriosam molestiae maiores, illo perspiciatis aliquid ad voluptas quas odit at, ea qui, tempore distinctio molestias!</div>
   <div id="input_result2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ad labore beatae modi minima itaque aperiam consequuntur quidem culpa, reprehenderit at, quos nisi laudantium repellendus vitae cupiditate, exercitationem, dicta facilis?</div>
   <div id="input_result3">Animi nam necessitatibus tempore hic nostrum eaque minima illo eius aliquid voluptatum, consequuntur omnis provident recusandae aspernatur? Alias, et dolor a? Perferendis animi beatae, facilis eum velit unde sit nostrum!</div>
   <button id="btn1" type="button">Click me!</button>
<!--   <script src="{% static 'js/cars.js'%}"></script> -->
<script src="{% static 'js/jq.js'%}"></script>
</body>
</html>